<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style='background:black;'>

<div class="container">
<center><h1 style="color:orange">SynkkU Posts</h1></center><center>
{{range .PostsList}}
<div class='row'>
	<div class='col-md-1'>
	</div>
	<div class='col-md-10'>

{{end}}

</center></div></body></html>
